.description-html {
  @apply text-[15px] leading-[22.5px] font-normal;
}

.description-htm p {
  @apply pb-3;
}

.description-html ul {
  @apply list-disc pl-8 leading-[25.5px];
}

.gallery-container {
  width: calc(100% - 30% - 32px);
  position: sticky;
}

.info-container {
  position: sticky;
  width: 30%;
  padding-top: 32px;
}

.content-html {
  @apply md:py-[72px];
}

.content-html img {
  @apply w-full max-h-96 object-cover md:mb-10;
}

.content-html h2 {
  @apply text-[28px];
}

.content-html p {
  @apply text-sm;
}
